#Database and SQL Final Project

##Name:David Schoonover
##Partner Name (Optional):

**Make sure to "save" a copy of this file to your own account.**

In this final project, you'll have the chance to design and implement a database using PostgreSQL. You'll be doing the following:


1.	Formulate business rules
2.	Construct an ERD from a set of business rules
3.	Specify the relational schema
4.	Discuss whether this schema meets the 1N, 2N, and 3N normal forms
5.	Create the tables using SQL queries
6.	Run sample SQL queries that demonstrate your ability to
  
  a.	Create table with primary keys and multiple data types

  b.	Join tables with foreign keys

  c.	Insert sample data into tables

  d.	Update existing data in the table

  e.	Delete data from the table
7.	Run sample SQL queries that demonstrate your ability to do the following:

  a.	Simple single table queries

  b.	Single-table queries with WHERE and LIKE

  c.	Single-table queries with aggregate functions

  d.	Single table queries with GROUP BY

  e.	Single-table queries with HAVING

  f.	Subqueries

  g.	Simple multi-table queries with JOIN

  h.	More complex multi-table queries

  i.	The creation of table views
  
  j.	The creation of indexes
8.	Discuss your process of database design and implementation using the Software Development LifeCycle Model 
9.	Do something unique! You could do ONE of the following, or something else:

  a.	Build some indexes and analyze query performance

  b.	Figure out how to add a JSON column, and insert data

  c.	Write a PL/SQL functions or trigger and show how to use it

  d.	Expand the data model to include subtypes and supertypes

  e.	Let your creativity shine!
10.	Save this project as a portfolio-quality work to Github, which you can then share with me (and with future employers, if you would like).

## Grading
The overall project is worth 100 points, with each of the 10 areas above worth 10 points each. 


## Other Guidelines

Here are the guidelines for working on the project:

1. You CAN work with a "team" of up to 3. You should each submit a copy of the work to the D2L dropbox (make sure to include your partner's names!), and each of you should create your own Github account.
2. I encourage you to discuss the project with me (as well as with your peers and tutors). However, my expectation is that the final work done by each team represents their "own" work.

#Load Postgres (Run This Cell)

In [1]:
# Some UNIX utilites we need to install for the lab.
!pip install wget --quiet
!pip install sqlalchemy --quiet
!pip install ipython-sql --quiet

# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!pip install pgspecial --quiet

!sudo service postgresql start


# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

# Setup a postgres database with name `my_data` to be used
!sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS my_data;'

!sudo -u postgres psql -U postgres -c 'CREATE DATABASE my_data;'

# Postgres variables
%env DB_NAME=my_data
%env DB_HOST=localhost
%env DB_PORT=5432
%env DB_USER=postgres
%env DB_PASS=postgres

# Finally, let's make a connnection with the databse
%load_ext sql
%sql postgresql://$DB_USER:$DB_PASS@$DB_HOST/$DB_NAME

  Building wheel for wget (setup.py) ... done
     |████████████████████████████████| 1.6 MB 9.2 MB/s
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 10.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package cron.
(Reading database ... 124013 files and directories currently installed.)
Preparing to unpack .../0-cron_3.0pl1-128.1ubuntu1.2_amd64.deb ...
Unpacking cron (3.0pl1-128.1ubuntu1.2) ...
Selecting previously unselected package logrotate.
Preparing to unpack .../1-logrotate_3.11.0-0.1ubuntu1_amd64.deb ...
Unpacking logrotate (3.11.0-0.1ubuntu1) ...
Selecting previously unselected package netbase.
Preparing to unpack .../2-netbase_5.4_all.deb ...
Unpacking netbase (5.4) ...
Selecting previously unselected package postgresql-client-common.
Preparing to unpack .../3-postgresql-client-common_190ubuntu0.1_all.deb ...
Unpacking postgresql-client-common (190ubuntu0.1) ...
Selecting previously unselected package postgresql-client-10.
Preparing to unpack .../4-postgresql-client-10_10.22-0ubuntu0.18.04.1_amd64.deb ...
Unpacking postgresql-client-10 (10.22-0ubuntu0.18.04.1) ...
Selecting previously unselected package ssl-cert.
Preparing to unpack .../5-ssl-cert_1.0.39_all.deb ...
Unpacking ssl-cert (1.0.39) ...
Selecting previously unselected package postgresql-common.
Preparing to unpack .../6-postgresql-common_190ubuntu0.1_all.deb ...
Adding 'diversion of /usr/bin/pg_config to /usr/bin/pg_config.libpq-dev by postgresql-common'
Unpacking postgresql-common (190ubuntu0.1) ...
Selecting previously unselected package postgresql-10.
Preparing to unpack .../7-postgresql-10_10.22-0ubuntu0.18.04.1_amd64.deb ...
Unpacking postgresql-10 (10.22-0ubuntu0.18.04.1) ...
Selecting previously unselected package postgresql.
Preparing to unpack .../8-postgresql_10+190ubuntu0.1_all.deb ...
Unpacking postgresql (10+190ubuntu0.1) ...
Selecting previously unselected package sysstat.
Preparing to unpack .../9-sysstat_11.6.1-1ubuntu0.2_amd64.deb ...
Unpacking sysstat (11.6.1-1ubuntu0.2) ...
Setting up sysstat (11.6.1-1ubuntu0.2) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline

Creating config file /etc/default/sysstat with new version
update-alternatives: using /usr/bin/sar.sysstat to provide /usr/bin/sar (sar) in auto mode
Created symlink /etc/systemd/system/multi-user.target.wants/sysstat.service → /lib/systemd/system/sysstat.service.
Setting up ssl-cert (1.0.39) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
Setting up cron (3.0pl1-128.1ubuntu1.2) ...
Adding group `crontab' (GID 110) ...
Done.
Created symlink /etc/systemd/system/multi-user.target.wants/cron.service → /lib/systemd/system/cron.service.
update-rc.d: warning: start and stop actions are no longer supported; falling back to defaults
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up logrotate (3.11.0-0.1ubuntu1) ...
Setting up netbase (5.4) ...
Setting up postgresql-client-common (190ubuntu0.1) ...
Setting up postgresql-common (190ubuntu0.1) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
Adding user postgres to group ssl-cert

Creating config file /etc/postgresql-common/createcluster.conf with new version
Building PostgreSQL dictionaries from installed myspell/hunspell packages...
Removing obsolete dictionary files:
Created symlink /etc/systemd/system/multi-user.target.wants/postgresql.service → /lib/systemd/system/postgresql.service.
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up postgresql-client-10 (10.22-0ubuntu0.18.04.1) ...
update-alternatives: using /usr/share/postgresql/10/man/man1/psql.1.gz to provide /usr/share/man/man1/psql.1.gz (psql.1.gz) in auto mode
Setting up postgresql-10 (10.22-0ubuntu0.18.04.1) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
Creating new PostgreSQL cluster 10/main ...
/usr/lib/postgresql/10/bin/initdb -D /var/lib/postgresql/10/main --auth-local peer --auth-host md5
The files belonging to this database system will be owned by user "postgres".
This user must also own the server process.

The database cluster will be initialized with locale "en_US.UTF-8".
The default database encoding has accordingly been set to "UTF8".
The default text search configuration will be set to "english".

Data page checksums are disabled.

fixing permissions on existing directory /var/lib/postgresql/10/main ... ok
creating subdirectories ... ok
selecting default max_connections ... 100
selecting default shared_buffers ... 128MB
selecting default timezone ... Etc/UTC
selecting dynamic shared memory implementation ... posix
creating configuration files ... ok
running bootstrap script ... ok
performing post-bootstrap initialization ... ok
syncing data to disk ... ok

Success. You can now start the database server using:

    /usr/lib/postgresql/10/bin/pg_ctl -D /var/lib/postgresql/10/main -l logfile start

Ver Cluster Port Status Owner    Data directory              Log file
10  main    5432 down   postgres /var/lib/postgresql/10/main /var/log/postgresql/postgresql-10-main.log
update-alternatives: using /usr/share/postgresql/10/man/man1/postmaster.1.gz to provide /usr/share/man/man1/postmaster.1.gz (postmaster.1.gz) in auto mode
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up postgresql (10+190ubuntu0.1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for systemd (237-3ubuntu10.56) ...
     |████████████████████████████████| 165 kB 14.7 MB/s
     |████████████████████████████████| 74 kB 2.4 MB/s
 * Starting PostgreSQL 10 database server
   ...done.
ALTER ROLE
NOTICE:  database "my_data" does not exist, skipping
DROP DATABASE
CREATE DATABASE
env: DB_NAME=my_data
env: DB_HOST=localhost
env: DB_PORT=5432
env: DB_USER=postgres
env: DB_PASS=postgres

'Connected: postgres@my_data'

#Part 1: Scenario Analysis and Business Rule Formulation
For the project, you’ll be creating a mock database for “Monster University,” a school that takes young monsters (dragons, werewolves, cute “ET” style aliens, vampires, ogres, talking apes, robot assassins, and basically anything else you want) and teaches them to be upstanding members of the monster community. The professors are ALSO monsters. Here are the business rules you’ll need to get started:

1.	Your main goal is to represent the Monsters, Classes, and Locations (buildings/rooms) at the school.
2.	Monsters can either teach classes, take classes, or both.
3.	For all Monsters we need to keep track of their 

  a.	name

  b.	species (what kind of monster are they?)

  c.	date of birth

  d.	their diet, if known (herbivore, carnivore, omnivore, “brains”, “electricity”, etc.)

  e. their GPA (between 0 and 4.0)

  f. the number of credits completed.

4.	For classes, we’d like to track the following:

  a.	The title of the class

  b.	The location in which the class is held

  c.	The duration of the class in minutes (between 30 and 180)

  d.  The days on which the class meets (for example "MWF" or "TH").

  e.  The start time of the class 
  
  f.  The instructor of the class (who is a Monster)

  
5. For locations we want to record:

  a. A two-character building code (e.g., "MH" for Memorial Hall).

  b. The room number between 1 and 2000.

  c. The max capacity between 10 and 300.

6. Some Monsters are Alumni, who have graduated from the school. For alumni we also want to record:

  a. the year they graduated, and
  
  b. their degree (computer science, business, English, etc.).

7.	Formulate THREE additional business rules of your choice. Remember, you’ll eventually need to implement these! At least ONE of these rules should involve a new entity, relationship, and/or constraint (as opposed to simply a new attribute).

##Your New Business Rules Here:
1. All monsters must have a school email address.

2. Some monsters are (non-teaching) staff.

  a. Instructors must be staff, but staff do not need to be instructors.

  b. Each staff member must have an assigned role.

3. Every instructor must be assigned an office location.

#Part 2: Conceptual Modeling using Entity-Relationship Diagramming
In this step, I'd like to create an ERD for the business rules above using [Diagrams.net](https://diagrams.net). You should include all entities, attributes, relationships, and cardinalilities. After you have completed this diagram, you should do the following:

1. Export it as "SVG" file in diagrams.net, and save this to your computer.
2. Edit this cell, and select the "Insert Image" button.
3. Select the SVG file you download.
4. NOTE: SVG files will work much better than larger image files (which may cause problems if you try to insert them).

![MonsterUEERD.drawio.svg]()

#Part 3: Logical Modeling
In this part, I'd like you to map the E-R model you've created to a relational model. This involves creating a relational scheme like the following:


```
table_name_1(attribute1 (PK), attribute2, attribute3)
table_name_2(attribute1 (PK), attribute2, attribute3)

```
You should indicate any **primary keys** by using (PK) and any foreign keys with (FK). For primary keys, you'll need to think about whether you can/should use attributes included in the ER diagram, or whether you might want to to create new attributes to serve as keys.

I recommend creating entities in this order:
1. One table for each "strong" entity in the E-R diagram. Decide on a primary key.
2. Tables for subtypes, if needed.
3. One table for each "weak" entity (besides subtypes) in the E-R diagram. Decide on appropriate primary and foreign keys.
4. Tables needed to model M:N relationships present in the E-R diagram.

**PUT YOUR ANSWER BELOW.**

Monster(MonsterID (PK), Name, MonsterSpecies, DateOfBirth, MonsterDiet, Email)

Building(BuildCode (PK), Capacity, Num_Rooms, Year_Built)

Room(RoomNum (PK), Capacity, BuildCode (FK))

Class(ClassID (PK), ClassName, ClassDuration, ClassDay, ClassTime, ClassLocation(FK), InstructorID(FK))

Staff(StaffID (PK), Name, StaffRole, MonsterID(FK))

Student(StudentID(PK), Name, Course1, Course2, GPA, CreditsEarned, MonsterID(FK))

Alumni(AlumniID(PK), Name, GradYear, Degree, StudentID(FK), MonsterID(FK))

Instructor(InstructorID(PK), Name, Office, RoomNum(FK), StaffID(FK), MonsterID(FK))

#Part 4: Normalization
Are your relations normalized? Please provide a 2-3 sentence explanation of why/how they meet the following normal forms. Or, if they don't, describe what needs to be done to change them.

1. **First Normal Form.** 

All attributes are single valued.

Data types can be the same in each column.

All columns are uniquely named within their tables.


2. **Second Normal Form.**

Is in 1NF.

No Partial Dependencies.


3. **Third Normal Form.** 

Is in 2NF.

No transitive dependencies.

**Revised relational scheme (if needed):**
NA

#Part 5: Creating Tables
In this part, you'll be creating the tables to store the data about your monstrous students. This involves "mapping" the relational schema to an actual Postgres Databases. Here's what you need to do:

1. CREATE a SQL table for each of the relations you identied in part 4.
2. Make sure all the attribututes are assigned appropriate data types. For example, INTEGER, VARCHAR, or DATE.
3.  Assign appropriate primary keys and foreign keys.

In the starter code below, I've assumed you'll have tables along the line of the following. However, you should feel free to rename, add, or delete tables as needed!

a. Monsters

b. Classes

c. Locations

d. Monsters2Classes

e. Alumni

In [ ]:
%%sql 
--If you make mistakes you might need to drop tables and start again
--Here's one way of doing this (run this cell as needed)

DROP TABLE Monster;

 * postgresql://postgres:***@localhost/my_data
Done.

[]

In [2]:
%%sql
--Here's the start of one create table statement
--You'll need to create each table individually
--You also need some contraints here!

CREATE TABLE Monster(
  MonsterID INT PRIMARY KEY,
  Name VARCHAR(26),
  DateOfBirth DATE,
  MonsterSpecies VARCHAR(10),
  MonsterDiet VARCHAR(15),
  Email VARCHAR(26) NOT NULL
  
);

 * postgresql://postgres:***@localhost/my_data
Done.

[]

In [3]:
%%sql

CREATE TABLE Building(
  BuildCode VARCHAR(2) PRIMARY KEY,
  Capacity INT,
  Num_Rooms INT,
  Year_Built INT

);

 * postgresql://postgres:***@localhost/my_data
Done.

[]

In [4]:
%%sql

CREATE TABLE Room(
  RoomNum VARCHAR(5) PRIMARY KEY,
  Capacity INT,
  BuildCode VARCHAR(2) REFERENCES Building(BuildCode)
);

 * postgresql://postgres:***@localhost/my_data
Done.

[]

In [5]:
%%sql

CREATE TABLE Staff(
  StaffID INT PRIMARY KEY,
  Name VARCHAR(30),
  StaffRole VARCHAR(30),
  MonsterID INT REFERENCES Monster(MonsterID)

);

 * postgresql://postgres:***@localhost/my_data
Done.

[]

In [7]:
%%sql 

CREATE TABLE Instructor(
  InstructorID INT PRIMARY KEY,
  Name VARCHAR(30),
  Office VARCHAR(5) REFERENCES Room(RoomNum),
  RoomNum VARCHAR(5) REFERENCES Room(RoomNum),
  StaffID INT REFERENCES Staff(StaffID),
  MonsterID INT REFERENCES Monster(MonsterID)
);

 * postgresql://postgres:***@localhost/my_data
Done.

[]

In [8]:
%%sql 

CREATE TABLE Class(
  ClassID INT PRIMARY KEY,
  ClassName VARCHAR(30),
  ClassDuration INT,
  ClassDay VARCHAR(10),
  ClassTime INT,
  ClassLocation VARCHAR(5) REFERENCES Room(RoomNum),
  InstructorID INT REFERENCES Instructor(InstructorID)
);

 * postgresql://postgres:***@localhost/my_data
Done.

[]

In [9]:
%%sql

CREATE TABLE Student(
  StudentID INT PRIMARY KEY,
  Name VARCHAR(30),
  Course1 VARCHAR(30),
  Course2 VARCHAR(30),
  GPA NUMERIC,
  CreditsEarned INT,
  MonsterID INT REFERENCES Monster(MonsterID)
);

 * postgresql://postgres:***@localhost/my_data
Done.

[]

In [10]:
%%sql

CREATE TABLE Alumni(
  AlumniID INT PRIMARY KEY,
  Name VARCHAR(30),
  GradYear INT,
  Degree VARCHAR(30),
  StudentID INT REFERENCES Student(StudentID),
  MonsterID INT REFERENCES Monster(MonsterID)
);

 * postgresql://postgres:***@localhost/my_data
Done.

[]

#Part 6: Retrieving, Updating, and Deleting Data
In this part, you'll be inserting some data about Monsters, Classes, and Locations.

##6b. Inserting Data
Here are five monsters to insert your database:

1. Cookie Monster (unknown species) was born on Nov 10, 1969. His eats only cookies. He has 3.2 GPA and has completed 76 credits.
2. Marceline (vampire) was born in Feb 3, 1056. She eats "the color red". She is a teacher with a 0.0 GPA and 0 credits completed.
3. Chewbacca (wookie) was born on May 25, 1977. He is an omnivore. He has a 2.6 GPA and has completed 24 credits.
4. Dracula (vampire) was born on Aug 15, 1543. He drinks blood. He has a 4.0 GPA with 112 credits completed. He also teachers classes.
5. Maleficient (dragon) was born on Oct 26, 1856. She is a carnviore. She has a 3.8 GPA with 63 credits completed.
6. Insert at least FOUR more monsters of your choice. At least two of these should have the same species.

Now, show the data in the table.

Here are three locations to insert into your database:
1. CL 101 ("Castle level 1, room 1") holds 100 people.
2. CL 503 ("Castle level 5, room 3") holds 34 people.
3. MU 220 ("Monster Union room 220") holds 12 people.
4. Insert at least TWO more locations into your database. Both should be in the same building. 

Now, show the data in the table.


Here are two classes to insert into your database:
1. Marceline teaches Intro to Guitar on TH from 2 PM to 4 PM in MU 220.
2. Dracula teaches Monster First Aid on MWF from 9 PM to 10 PM in CL 503.
2. Insert at least ONE more class.

Now, show the data in the table.


"ENROLL" some students in your classes.
1. Cookie Monster, Chewbacca, and Maleficient (and perhaps some of the students you added) will take Monster First Aid.
2. Chewbacca and Malificient (and perhaps some of the students you added) will take Intro to Guitar.
3. Enroll some students in your own class!
Now, show the data in the table.


Finally, insert data for at least ONE alumni, and show the results.

In [17]:
%%sql 
-- If you make mistakes, you might need to delete existing data from your tables. 
-- One way you might do this is as follows
-- You might need to include different table names!


DELETE FROM Room CASCADE;

 * postgresql://postgres:***@localhost/my_data
9 rows affected.

[]

In [11]:
%%sql
--- Insert the data on Monsters. You'll be using statements like the following:
--INSERT INTO Monsters(id, name, ...) VALUES (1, 'Cookie Monster', ...);

--When you are done inserting, you should display the data, like so:
--SELECT * FROM Monsters;

INSERT INTO Monster(MonsterID, Name, DateOfBirth, MonsterSpecies, MonsterDiet, Email)
VALUES (1, 'Cookie_Monster', '1969-11-10', 'Unknown', 'Cookies', 'cookie@monster.edu'),
(2, 'Marceline', '1056-02-03', 'Vampire', 'The color red', 'marceline@monster.edu'),
(3, 'Chewbacca', '1977-05-25', 'Wookie', 'Omnivore', 'chewy@monster.edu'),
(4, 'Dracula', '1543-08-15', 'Vampire', 'Blood', 'dracula@monster.edu'),
(5, 'Maleficiant', '1856-10-26', 'Dragon', 'Carnivore', 'maleficiant@monster.edu'),
(6, 'Alduin', '2011-11-11', 'Dragon', 'Worlds', 'alduin@monster.edu'),
(7, 'Mike_Wazowski', '2001-11-02', 'Cyclops', 'Monster_burgers', 'mikew@monster.edu'),
(8, 'Falkor', '1984-07-20', 'Dragon', 'Worms', 'falkor@monster.edu'),
(9, 'Gritty', '2018-09-24', 'Mascot', 'Children_tears', 'gritty@monster.edu');

 * postgresql://postgres:***@localhost/my_data
9 rows affected.

[]

In [12]:
%%sql
SELECT * FROM Monster;

 * postgresql://postgres:***@localhost/my_data
9 rows affected.

[(1, 'Cookie Monster', datetime.date(1969, 11, 10), 'Unknown', 'Cookies', 'cookie@monster.edu'),
 (2, 'Marceline', datetime.date(1056, 2, 3), 'Vampire', 'The color red', 'marceline@monster.edu'),
 (3, 'Chewbacca', datetime.date(1977, 5, 25), 'Wookie', 'Omnivore', 'chewy@monster.edu'),
 (4, 'Dracula', datetime.date(1543, 8, 15), 'Vampire', 'Blood', 'dracula@monster.edu'),
 (5, 'Maleficiant', datetime.date(1856, 10, 26), 'Dragon', 'Carnivore', 'maleficiant@monster.edu'),
 (6, 'Alduin', datetime.date(2011, 11, 11), 'Dragon', 'Worlds', 'alduin@monster.edu'),
 (7, 'Mike_Wazowski', datetime.date(2001, 11, 2), 'Cyclops', 'Monster_burgers', 'mikew@monster.edu'),
 (8, 'Falkor', datetime.date(1984, 7, 20), 'Dragon', 'Worms', 'falkor@monster.edu'),
 (9, 'Gritty', datetime.date(2018, 9, 24), 'Mascot', 'Children_tears', 'gritty@monster.edu')]

In [13]:
%%sql

INSERT INTO Building(BuildCode, Capacity, Num_Rooms, Year_Built)
VALUES ('CL', '7540', '1000', '1293'),
('MU', '4000', '300', '2010');

 * postgresql://postgres:***@localhost/my_data
2 rows affected.

[]

In [14]:
%%sql

SELECT * FROM Building;

 * postgresql://postgres:***@localhost/my_data
2 rows affected.

[('CL', 7540, 1000, 1293), ('MU', 4000, 300, 2010)]

In [18]:
%%sql

INSERT INTO Room(RoomNum, Capacity, BuildCode)
VALUES ('CL101', '100', 'CL'),
('CL503', '34', 'CL'),
('MU220', '12', 'MU'),
('MU222', '16', 'MU'),
('MU224', '24', 'MU'),
('MU105', '10', 'MU'),
('MU102', '10', 'MU'),
('MU103', '10', 'MU'),
('MU104', '10', 'MU');

 * postgresql://postgres:***@localhost/my_data
9 rows affected.

[]

In [19]:
%%sql 

SELECT * FROM Room
ORDER BY BuildCode, RoomNum;

 * postgresql://postgres:***@localhost/my_data
9 rows affected.

[('CL101', 100, 'CL'),
 ('CL503', 34, 'CL'),
 ('MU102', 10, 'MU'),
 ('MU103', 10, 'MU'),
 ('MU104', 10, 'MU'),
 ('MU105', 10, 'MU'),
 ('MU220', 12, 'MU'),
 ('MU222', 16, 'MU'),
 ('MU224', 24, 'MU')]

In [20]:
%%sql

INSERT INTO Staff(StaffID, Name, StaffRole, MonsterID)
VALUES (1, 'Marceline', 'Instructor', 2),
(2, 'Dracula', 'Instructor', 4),
(3, 'Falkor', 'Counselor', 8);

 * postgresql://postgres:***@localhost/my_data
3 rows affected.

[]

In [21]:
%%sql

SELECT * FROM Staff;

 * postgresql://postgres:***@localhost/my_data
3 rows affected.

[(1, 'Marceline', 'Instructor', 2),
 (2, 'Dracula', 'Instructor', 4),
 (3, 'Falkor', 'Counselor', 8)]

In [22]:
%%sql

INSERT INTO Instructor(InstructorID, Name, Office, RoomNum, StaffID, MonsterID)
VALUES (1, 'Marceline', 'MU102', 'MU220', 1, 2),
(2, 'Dracula', 'MU103', 'CL503', 2, 4);

 * postgresql://postgres:***@localhost/my_data
2 rows affected.

[]

In [23]:
%%sql

SELECT * FROM Instructor;

 * postgresql://postgres:***@localhost/my_data
2 rows affected.

[(1, 'Marceline', 'MU102', 'MU220', 1, 2),
 (2, 'Dracula', 'MU103', 'CL503', 2, 4)]

In [24]:
%%sql

INSERT INTO Class(ClassID, ClassName, ClassDuration, ClassDay, ClassTime, ClassLocation, InstructorID)
VALUES (100, 'Into_to_Guitar', 120, 'TH', 1400, 'MU220', 1),
(200, 'Monster_First_Aid', 60, 'MWF', 1700, 'CL503', 2),
(300, 'History_of_Vampirism', 120, 'F', 2200, 'CL503', 2);

 * postgresql://postgres:***@localhost/my_data
3 rows affected.

[]

In [26]:
%%sql

SELECT * FROM Class;

 * postgresql://postgres:***@localhost/my_data
3 rows affected.

[(100, 'Into_to_Guitar', 120, 'TH', 1400, 'MU220', 1),
 (200, 'Monster_First_Aid', 60, 'MWF', 1700, 'CL503', 2),
 (300, 'History_of_Vampirism', 120, 'F', 2200, 'CL503', 2)]

In [25]:
%%sql

INSERT INTO Student(StudentID, Name, Course1, Course2, GPA, CreditsEarned, MonsterID)
VALUES (1, 'Cookie_Monster', 200, 300, '3.2', 76, 1),
(2, 'Chewbacca', 200, 100, '2.6', 24, 3),
(3, 'Maleficient', 200, 100, '3.8', 63, 5),
(4, 'Dracula', 100, 200, '4.0', 112, 4),
(5, 'Alduin', 300, 100, '3.2', 12, 6),
(6, 'Gritty', 200, 300, '2.2', 62, 9),
(7, 'Mike_Wazowski', 100, NULL, '4.0', 5, 7);

 * postgresql://postgres:***@localhost/my_data
7 rows affected.

[]

In [27]:
%%sql

SELECT * FROM Student;

 * postgresql://postgres:***@localhost/my_data
7 rows affected.

[(1, 'Cookie_Monster', '200', '300', Decimal('3.2'), 76, 1),
 (2, 'Chewbacca', '200', '100', Decimal('2.6'), 24, 3),
 (3, 'Maleficient', '200', '100', Decimal('3.8'), 63, 5),
 (4, 'Dracula', '100', '200', Decimal('4.0'), 112, 4),
 (5, 'Alduin', '300', '100', Decimal('3.2'), 12, 6),
 (6, 'Gritty', '200', '300', Decimal('2.2'), 62, 9),
 (7, 'Mike_Wazowski', '100', None, Decimal('4.0'), 5, 7)]

In [28]:
%%sql

INSERT INTO Alumni(AlumniID, Name, GradYear, Degree, StudentID, MonsterID)
VALUES (1, 'Dracula', 2010, 'History', 4, 4),
(2, 'Cookie_Monster', 2022, 'Culinary_Arts', 1, 1);

 * postgresql://postgres:***@localhost/my_data
2 rows affected.

[]

In [29]:
%%sql

SELECT * FROM Alumni;

 * postgresql://postgres:***@localhost/my_data
2 rows affected.

[(1, 'Dracula', 2010, 'History', 4, 4),
 (2, 'Cookie_Monster', 2022, 'Culinary_Arts', 1, 1)]

#6c: Updating Data
In this section, I'd like you to run the following updates

1. MU 220 has been expanded! It can now hold 25 students, instead of 12.
2. Another semester has passed. Add 12 credits to each student's record.
3. [Another update of your choice--describe here.]

After each update please SELECT from the table to show the results.

In [32]:
%%sql
--Update MU 220 and show results

UPDATE Room
SET Capacity = 25
WHERE RoomNum = 'MU220';

SELECT * FROM Room;

 * postgresql://postgres:***@localhost/my_data
1 rows affected.
9 rows affected.

[('CL101', 100, 'CL'),
 ('CL503', 34, 'CL'),
 ('MU222', 16, 'MU'),
 ('MU224', 24, 'MU'),
 ('MU105', 10, 'MU'),
 ('MU102', 10, 'MU'),
 ('MU103', 10, 'MU'),
 ('MU104', 10, 'MU'),
 ('MU220', 25, 'MU')]

In [33]:
%%sql 
--Update student credits and show results

UPDATE Student
SET CreditsEarned = (CreditsEarned + 12);

SELECT * FROM Student;

 * postgresql://postgres:***@localhost/my_data
7 rows affected.
7 rows affected.

[(1, 'Cookie_Monster', '200', '300', Decimal('3.2'), 88, 1),
 (2, 'Chewbacca', '200', '100', Decimal('2.6'), 36, 3),
 (3, 'Maleficient', '200', '100', Decimal('3.8'), 75, 5),
 (4, 'Dracula', '100', '200', Decimal('4.0'), 124, 4),
 (5, 'Alduin', '300', '100', Decimal('3.2'), 24, 6),
 (6, 'Gritty', '200', '300', Decimal('2.2'), 74, 9),
 (7, 'Mike_Wazowski', '100', None, Decimal('4.0'), 17, 7)]

In [34]:
%%sql 
--An update of your choice and show the results
--Mike Wazowski decided to enroll in a second course after all!

UPDATE Student
SET Course2 = 300
WHERE Name = 'Mike_Wazowski';

SELECT * FROM Student;

 * postgresql://postgres:***@localhost/my_data
1 rows affected.
7 rows affected.

[(1, 'Cookie_Monster', '200', '300', Decimal('3.2'), 88, 1),
 (2, 'Chewbacca', '200', '100', Decimal('2.6'), 36, 3),
 (3, 'Maleficient', '200', '100', Decimal('3.8'), 75, 5),
 (4, 'Dracula', '100', '200', Decimal('4.0'), 124, 4),
 (5, 'Alduin', '300', '100', Decimal('3.2'), 24, 6),
 (6, 'Gritty', '200', '300', Decimal('2.2'), 74, 9),
 (7, 'Mike_Wazowski', '100', '300', Decimal('4.0'), 17, 7)]

#Part 7: SQL Queries
In this section, you'll be demonstrating your ability to retrieve data from the database you've created using SQL queries.

##7a: Simple Single table queries
Retreive a list of monsters ordered alphabetically by name. Limit your results to 5.

In [35]:
%%sql
-- 7a

SELECT Name FROM Monster
ORDER BY Name
LIMIT 5;

 * postgresql://postgres:***@localhost/my_data
5 rows affected.

[('Alduin',), ('Chewbacca',), ('Cookie Monster',), ('Dracula',), ('Falkor',)]

##7b. Single-table queries with WHERE and LIKE
Retrieve JUST the classes that meet on Wednesday (where Wednesday is the 'W' in strings like 'MWF').

In [38]:
%%sql
-- 7b

SELECT * FROM Class
WHERE ClassDay LIKE '%W%';

 * postgresql://postgres:***@localhost/my_data
1 rows affected.

[(200, 'Monster_First_Aid', 60, 'MWF', 1700, 'CL503', 2)]

##7c. Single-table queries with aggregate functions
Retrieve the minimum, maximum, and average GPA included in your database. You should label the columns "Min GPA", "Max GPA", and "Avg GPA".

In [42]:
%%sql 
--7c

SELECT MIN(GPA) AS "Min GPA", MAX(GPA) AS "Max GPA", ROUND(AVG(GPA), 2) AS "Avg GPA"
FROM Student;

 * postgresql://postgres:***@localhost/my_data
1 rows affected.

[(Decimal('2.2'), Decimal('4.0'), Decimal('3.29'))]

##7d. Single table queries with GROUP BY
Retrieve a list of each monster species included in the database, along with a count of how many monsters are members of the species.

In [45]:
%%sql
--7d

SELECT MonsterSpecies, COUNT(MonsterSpecies) 
FROM Monster
GROUP BY MonsterSpecies;

 * postgresql://postgres:***@localhost/my_data
6 rows affected.

[('Vampire', 2),
 ('Unknown', 1),
 ('Mascot', 1),
 ('Dragon', 3),
 ('Cyclops', 1),
 ('Wookie', 1)]

##7e. Single-table queries with HAVING
Retrieve a list of the buildings (not rooms!) in your data that have a total capacity of more than 20. (A building's capacity is simply the sum of the capacities of all the classrooms it contains).

In [46]:
%%sql
--7e

SELECT * FROM Building
WHERE Capacity > 20;

 * postgresql://postgres:***@localhost/my_data
2 rows affected.

[('CL', 7540, 1000, 1293), ('MU', 4000, 300, 2010)]

##7f. Subqueries
Retrieve a list of monsters names and species, together with a count of how many members of that species are in the database.

In [56]:
%%sql
-- 7f

SELECT Name, MonsterSpecies, (SELECT COUNT(MonsterSpecies) AS "Count")
FROM Monster
GROUP BY MonsterSpecies;

 * postgresql://postgres:***@localhost/my_data
(psycopg2.errors.GroupingError) column "monster.name" must appear in the GROUP BY clause or be used in an aggregate function
LINE 3: SELECT Name, MonsterSpecies, (SELECT COUNT(MonsterSpecies) A...
               ^

[SQL: -- 7f

SELECT Name, MonsterSpecies, (SELECT COUNT(MonsterSpecies) AS "Count")
FROM Monster
GROUP BY MonsterSpecies;]
(Background on this error at: https://sqlalche.me/e/14/f405)

#7g. Simple multi-table queries with JOIN
Retrieve the names and GPAs of students enrolled in Intro to Guitar.

In [58]:
%%sql
-- 7g

SELECT Name, GPA FROM Student
WHERE Course1 = '100'
OR Course2 = '100';

 * postgresql://postgres:***@localhost/my_data
5 rows affected.

[('Chewbacca', Decimal('2.6')),
 ('Maleficient', Decimal('3.8')),
 ('Dracula', Decimal('4.0')),
 ('Alduin', Decimal('3.2')),
 ('Mike_Wazowski', Decimal('4.0'))]

##7h. More complex multi-table queries
Retrieve the total students taught by each teacher in the database. You should have one row of output for each teacher with their name and the total number of students.

In [74]:
%%sql 
-- 7h

SELECT Instructor.Name, COUNT(Student.Name)
FROM Instructor JOIN Class ON Instructor.InstructorID = Class.InstructorID
JOIN Student ON Class.ClassID = Student.Course1
GROUP BY ClassID;

 * postgresql://postgres:***@localhost/my_data
(psycopg2.errors.UndefinedFunction) operator does not exist: integer = character varying
LINE 5: JOIN Student ON Class.ClassID = Student.Course1
                                      ^
HINT:  No operator matches the given name and argument type(s). You might need to add explicit type casts.

[SQL: -- 7h

SELECT Instructor.Name, COUNT(Student.Name)
FROM Instructor JOIN Class ON Instructor.InstructorID = Class.InstructorID
JOIN Student ON Class.ClassID = Student.Course1
GROUP BY ClassID;]
(Background on this error at: https://sqlalche.me/e/14/f405)

##7i. Creation of Views
Create a VIEW based on a SQL query of your choice. Now "SELECT *" from this view to show the results.

In [ ]:
%%sql
-- 7i

##7g. Creation of Indexes.
Create an index on the column that contains the Monster's names.

In [ ]:
%%sql
-- 7f

#8. Database Design Philosophy
In 150 to 200 words, answer the question **"What are the keys to designing a successful database, and how is this reflected in your own work here?"**

The key to designing a successful database is careful planning. I am fairly confident in my ability to run SQL queries with a well designed database, but this assignment has taught me that carefully planning databases is not my strong suit. 

If I were to redesign my database, I would probably use less tables than I ended up doing here. I thought that having separate tables for Students, Staff, Instructors, and Alumni, plus a master table for all monsters, was a good idea but once I tried to query my database, it was made clear to me that I overcomplicated things by doing so. 

I spent an entire day attempting to design my database before I realized that I made a few critical mistakes in my planning. If I had the time for it, I would probably redesign my database from the ground up.

#9. Be Creative!
In 150 to 200 words, tell me about what you've done (or will do, in this section) that goes above and beyond the "requirements" of the assignment. Why did you choose to do this? What did you learn from doing it?

YOUR ANSWER HERE.

I designed my database with the mindset that more specific tables would be better when it came to querying my data. I created an additional table, titled "staff", with the idea in mind that not all staff members would be instructors. A university requires more than just students and teachers, so this seemed like an obvious one for me to implement. I also decided to create a separate table for just students who are enrolled in classes. In hindsight, I probably would have been better off if I had stuck with three tables for my monsters. One for all Monsters, another for staff, and a final one for alumni. 

I separated the locations table into two tables. One for buildings and one for rooms. This allowed me to set an overall capacity for each building, opposed to having to calculate the overall building capacity by adding up the capacity for each of the rooms in a building. It also allowed me to display the idea that there would be more rooms than listed in the database, which made sense to me because, for example, one of the buildings is a castle which would obviously contain more than just a few rooms.

In [ ]:
%%sql
-- Include code, if needed.

#10. Share Work With Me on Github
Finally, I'd like you to share your work with me on Github. If you are interesting in working in computer science or IT, it's good to have a basic understanding of how Github works, as its something like an industry "standard" way of sharing code. 
 
Here's what you need to do:
1. Create an account on https://github.com/ 
2. Create a PUBLIC repository called "database_sql".
3. Save your **completed** lab to this repository. From colab, all you need to do is go to "File: Save a copy in Github."

An in-depth tutorial on using Github is here:
https://docs.github.com/en/get-started/quickstart/hello-world 
The only things you need to worry about are (a) creating an account and (b) creating a repository. We won't be worry about branches, commits, or pulls (though you are free to read up on these!). 

Once you've done this, please write down your:

USERNAME: DGSch

REPOSITORY LINK: https://github.com/DGSch/database_sql.git

And that's it! I've enjoyed having you in class--enjoy the rest of the semster :).

**You should also submit this to the D2L Assignment folder.**